@font-face {
  font-family: Georgia, sans-serif;
  src: url('/fonts/Georgia/Georgia-Bold.ttf') format('ttf'),
    url('/fonts/Georgia/Georgia.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url('/fonts/Lato/Lato-Regular.ttf'), url('/fonts/Lato/Lato-Medium.ttf'),
    url('/fonts/Lato/Lato-Semibold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1369px;
  margin: 0 auto;
  padding: 32px 0;
}

.nav__list {
  display: flex;
  /* color: #292929; */
}

.nav__item {
  list-style: none;
  margin-right: 72px;
}

.nav__item a {
  text-decoration: none;
  color: #292929;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.login__item {
  display: inline-block;
  margin: 0 17px;
}

.login__item a {
  color: #000000;
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.start__trial {
  border: 1px solid #01996d;
  border-radius: 4px;
  background: #01996d;
  padding: 13px 50px;
  color: white !important;
}

.header__wrapper {
    border-bottom: 1px solid #D6D6D6;
}
